*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}
.deve {
  margin-top: -40px;

  

}

.boy  {
    background-color: black;
    color: rgb(34, 32, 32);
    font-size: 15px;
    margin-right: 50px 50px;
    border-radius: 100px;
    text-decoration: none;
    text-shadow: 5px 5px 5px white ;
    box-shadow:5px 5px 5px white ;
    margin-left: 250px;
    padding: 10px 10px;
   

   



 
}
 a:hover{
    color: rgb(253, 165, 0);

    
   

}

.dev{
    margin-top: 30px;
    height: 100px;
    width: 200px;
}

.fundo{
    box-shadow:150px -50px 25px rgb(253, 165, 0);
    height:10px;
    width: 1200px;
}
